/***************************************
Theme Name: House of Hobbies
Theme URI: http://www.goma-gz.com/
Description: A Theme of House of Hobbies.
Version: 3.0
Author: Goma Nanoha
Author URI: http://www.goma-gz.com/
 ***************************************/
@charset "UTF-8";

body, html {
    background-image: url(./images/bg.png);
    margin: 0px;
    padding: 0px;
    font-family: Arial, Verdana, Helvetica, sans-serif, "メイリオ";
    color: #121212;
    outline: none;
    border: none;
}
a {
    font-size: 15px;
    color: #4E8BCD;
}
.cancel { 
    margin: 0px;
    padding: 0px;
    clear: both;
    overflow: hidden;
}  /* 回りこみ解除 */

/* Header */

#header {
    width: 100%;
    height: 190px;
}
#header_logo {
    width: 980px;
    height: 100px;
    padding: 15px 0px;
    margin: 0px auto;
}
#header_logo img {
    width: 680px;
    height: 100px;
}
#header_nav {
    width: 100%;
    height: 60px;
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
    box-shadow: inset 0 1px 10px black , inset 0 -1px 10px black;
    background-color: rgba(0,0,0,0.1);
}
#header_nav_center {
    width: 980px;
    height: 60px;
    margin: 0px auto;
}
#header_nav_center nav { float: right; }
#header_nav_center ul {
    font-size: 25px;
    padding-top: 17px;
}
#header_nav_center li { float: left; }
#header_nav_center a {
    color: #a8a8a8;
    font-size: 25px;
    text-decoration: none;
    padding: 15px 35px;
    border-left: 1px dotted black;
    text-shadow: 2px 2px 5px black
}
.header-a-last { border-right: 1px dotted black;}
#header_nav_center a:hover {
    color: #8e8e8e;
    background-color: rgba(0,0,0,0.2);  
}
#header_nav_center a:active { background-color: rgba(0,0,0,0.3); }

/* End Header */

/* Main-Page */
#main_page {
    width: 980px;
    margin: 50px auto 20px;
}
#main {
    width: 700px;
    float: left;
}
#breadcrumb {
    height: 30px;
    background-image: url(./images/bg2.png);
    box-shadow: inset 1px 1px 5px black ,inset -1px -1px 5px black ;
    color: #000000;
    margin-bottom: 20px;
}
#breadcrumb ul { 
    font-size: 10px;
    padding-left: 20px; 
    padding-top: 10px;
}
#breadcrumb li { 
    float: left;
    margin-right: 20px;
}
#breadcrumb a { 
    color: #7b7b7b;
    font-size: 10px;
}
#breadcrumb a:hover { text-decoration: none; }

/* Posts */

.posts {
    width: 660px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 15px;
    background-image: url(./images/bg2.png);
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px black ,inset -1px -1px 10px black;
    color: #a8a8a8;
}
.posts header {
    width: 660px;
    padding-bottom: 10px;
}
.posts header > h1 {
    font-size: 25px;
    width: 660px;
    padding-bottom: 2px;
    border-bottom: 2px dotted black;
}
.posts header > h1 > a { 
    text-decoration: none;
    font-size: 25px;
    color: #a8a8a8;
}
.posts footer {
    width: 660px;
    padding-top: 10px;
    margin-top: 15px
}
.posts footer a:hover { text-decoration: none; }
.posts footer a:active {
    text-decoration: none;
    color: #ff2a2a;
    background: rgba(0,0,0,0.2);
}
.posts footer > ul {
    font-size: 15px;
    border-top: 1px dashed black;
}
.posts footer > ul > li {
    float: left;
    padding: 5px;
    border-left: 1px dotted black;
}

/* Posts Contents */

.posts > div { width: 660px; }
.posts > div p { 
    margin: 10px 0px;
    line-height: 20px;
}
.posts > div a {
    font-size: 15px;
    color: #4E8BCD;
}
.posts > div a:hover { text-decoration: none; }
.posts > div a:active {
    text-decoration: none;
    color: #ff2a2a;
    background: rgba(0,0,0,0.2);
}
.posts > div b { font-weight: bold; }
.posts > div i { font-style: italic; }
.posts > div h1 ,.posts > div h2 {
    font-size: 20px;
    margin: 5px 0px;
    border-bottom: 2px dotted black;
}
.posts > div h3 {
    font-size: 20px;
    margin: 5px 0px;
}
.posts > div h4 {
    font-size: 15px;
    margin: 5px 0px;
    border-bottom: 2px dotted black;
}
.posts > div h5 {
    font-size: 15px;
    margin: 5px 0px;
}
.posts > div blockquote {
    width: 600px;
    margin: 10px 20px;
    padding: 20px 10px 20px 10px;
    background: rgba(0,0,0,0.2) url(./images/blockquote.png) no-repeat;
    border-radius: 0px 25px;
} 
.posts > div ul {
    margin: 10px 0px;
    list-style:none;
}
.posts > div ul li {
    margin-top: 5px;
    margin-left: 20px;
}
.posts > div ul li:before { 
    content:"\00BB \0020";
    color: #000000;
    font-size: 20px;
}
.posts > div ol {
    margin: 10px 0px;
    list-style-type: decimal;
}
.posts > div ol li {
    margin-top: 5px;
    margin-left: 40px;
}
.posts > div dl {
    margin-bottom: 15px;
    padding: 0px;
}
.posts > div dt {
    font-weight: bold;
    border-bottom: 2px dotted black;
    margin-top: 15px;
}
.posts > div dd {
    margin-top: 5px;
    margin-left: 30px;
}
.more-link {
    float: right; 
    font-size:20px;
    padding: 5px;
    border-bottom: 2px dotted black;
    text-decoration: none;
    color: #9e9e9e !important;
}
.more-link:hover { color: #ff2a2a !important;}
.more-link:active { border-bottom: 2px dotted #9e9e9e; }
.more-link:before { 
    content:"\00BB \0020";
    color: #000000 !important;
    font-size: 20px;
}
.eye_catch {
    width: 250px;
    height: 175px;
    box-shadow: 3px 3px 10px #000000;
    margin-right: 10px;
    float: left;
}
#post_footer {
    margin: 20px 0px; 
    color: #000000;
}
#post_footer:after {
    clear: both;
    overflow: hidden;
}
#post_footer ul {
    list-style: none;
    padding: 10px 20px; 
}
#post_footer a {
    text-decoration: none;
    color: #9e9e9e;
    font-size: 15px;
    padding-bottom: 3px;
    border-bottom: 2px dotted #000000;
}
#post_footer a:hover { color: #ff2e2e; }
#post_footer a:active { border-bottom: 2px dotted #9e9e9e; }
#post_footer_left { float: left; }
#post_footer_right { float: right; }
/* Post-Contents End */
/* Post End */

/* Sideber */

#sideber {
    width: 250px;
    float: right;
}
.sidemenu {
    width: 250px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    background-image: url(./images/bg2.png);
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px black ,inset -1px -1px 10px black ;
}
.sidemenu h1 {
    color: #a8a8a8;
    text-shadow: 2px 2px 5px black;
    font-size: 25px;
    padding: 20px;
    background: url(./images/boader-top.png) repeat-x bottom right;
}
.sidemenu ul {
    padding-top: 5px;
    padding-bottom: 23px;
    background: url(./images/boader-bottom.png) repeat-x bottom right;
}
.sidemenu li {
    padding: 3px 10px;
    list-style: none;
    line-height: 20px;
}
.sidemenu a { 
    color: #9e9e9e;
    font-size: 15px;
}
.sidemenu a:hover { text-decoration: none; }
.sidemenu a:before {
    content: "\25B6 \0020";
    font-size: 10px;
    color: #9e9e9e;
}
.sidemenu a:hover:before {
    content: "\25B6 \0020";
    font-size: 10px;
    color: #ff2a2a;
}

/* Sidebar Endo */
/* Main End */

/* Footer */

#footer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(images/boader-top.png) repeat-x right top;
}
#footer div {
    width: 980px;
    margin: 0px auto;
    font-size: 15px;
}
#footer nav {
    position: relative;
    overflow: hidden;
}
#footer ul {
    position: relative;
    left: 50%;
    float: left;
    padding-bottom: 5px;
}
#footer li {
    position: relative;
    left: -50%;
    float: left;
    padding: 0px 5px;
}
#footer li > a { color: #9e9e9e !important; }
#footer li > a:hover { text-decoration: none; }
#footer p {
    font-size: 15px;
    color: #9e9e9e;
    text-align: center;
}
